@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="jumbotron">
    <h1>Performance Based Application</h1>
    <p>I'm still working on this page. Stay tuned.</p>
</div>

