@model Hundo_P.Models.DailyExecModel

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wrappixel.com/demos/admin-templates/material-pro/material/form-float-input.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Sep 2018 14:40:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>Hundo P</title>
    <!-- Bootstrap Core CSS -->


    <style>
       .box-effect {
             box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
             transition: 0.3s;
    
       }

       .box-effect:hover {
             box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
       }
    </style>
</head>




<body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-6" style="margin:auto;  margin-top: 70px">
                    <div class="card">
                        <div class="card-body box-effect">
                            <h4 class="card-title">Hundo-P Start page</h4>
                            <h6 class="card-subtitle">Make today exceptional</h6>
                            <form class="floating-labels m-t-40" action="@Url.Action("Pageone","DailyExec")" method="post">

                                <div class="form-group m-b-40 focused">
                                    <input type="text" disabled class="form-control" id="input2">
                                    <span class="bar"></span>
                                    <label for="input2">Today is <span style="color:green; font-weight:600">@DateTime.Today.DayOfWeek</span></label>
                                </div>

                                <div class="form-group m-b-40 focused">
                                    <input type="text" class="form-control" name="DailyTheme" id="input1">
                                    <span class="bar"></span>
                                    <label for="input1">Create a theme for the day</label>
                                </div>


                                <div class="form-group m-b-40">
                                    <textarea class="form-control" rows="4" id="input7" name="DailySummary"></textarea>
                                    <span class="bar"></span>
                                    <label for="input7">Write more about the task (optional)</label>
                                </div>


                                <div class="form-group m-t-50">
                                    <select class="form-control" id="timeSpent" name="TimeSpent">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <span class="bar"></span>
                                    <label for="timeSpent">Estimated Completion Time</label>
                                </div>

                                <div style="margin-top:30px;">
                                    <button type="submit" class="btn btn-info btn-circle btn-xl submitButton" id="sa-success"><i class="fa fa-check"></i> </button><span style="margin-left:10px;">Submit</span>
                                    <button style="margin-left:10px;" type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-times"></i> </button><span style="margin-left:10px;">Cancel</span>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2018 Hundo-P
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->




</body>

<!-- Mirrored from wrappixel.com/demos/admin-templates/material-pro/material/form-float-input.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Sep 2018 14:40:23 GMT -->
</html>

